<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Service Portal{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <p>Pipeline Portal<p>
    </header>
    <div class="container full-height">
        <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>
        <aside class="sidebar" id="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Deployment Service</button>
                <div class="dropdown-content">
                    <a href="/scheduler">Scheduler</a>
                    <a href="/dataplane">Dataplane</a>
                </div>
            </div>
            <div class="dropdown new-dropdown">
                <button class="dropbtn">MLFlow Service</button>
                <div class="dropdown-content">
                    <a href="/mlflow/experiments">Experiments</a>
                    <a href="/mlflow/registered_models">Registered Models</a>
                    <a href="/mlflow/model_versions">Model Versions</a>
                </div>
            </div>
        </aside>
        <main class="content" onclick="closeSidebar(event)">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Dolphin Pipeline Portal</p>
    </footer>
    <script src="/static/sidebar.js"></script>
    {% if request.path == '/scheduler' %}
    <script src="/static/scheduler.js"></script>
    {% elif request.path == '/dataplane' %}
    <script src="/static/dataplane.js"></script>
    {% endif %}
</body>
</html>