{% extends "base.html" %}

{% block title %}DAG Source{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/airflow_styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<h1>DAG Source</h1>
<!-- <a href="/airflow/dags/{{ source.dag_id }}/details" class="btn" style="width: fit-content; background-color: white; color: black;">
    &larr; Back to DAG Details
</a> -->
<pre><code class="python">{{ source.content | e }}</code></pre>
{% endblock %}