{% extends "base.html" %}

{% block title %}DAG Details{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/airflow_styles.css"> 
{% endblock %}
{% block content %}
<h1>DAG Details</h1>
<div class="button-container">
    <a href="/airflow/dags" class="btn" style="width: fit-content; background-color: white; color: black;">
        &larr; DAG List
    </a>
    <a href="/airflow/dagSources/{{ details.file_token }}" class="btn" style="width: fit-content; background-color: white; color: black;">
        <span class="icon-code" style="color: #4e46c5;"></span> Source Code
    </a>
    <a href="/airflow/dags/{{ details.dag_id }}/trigger" class="btn" style="width: fit-content; background-color: white; color: black;">
        <span class="icon-play" style="color: #28a745;"></span> Trigger
    </a>
    <a href="/airflow/dags/{{ details.dag_id }}/dagRuns" class="btn" style="width: fit-content; background-color: white; color: black;">
        Run Records
    </a>
</div>
<table>
    <tbody>
        <tr>
            <th>dag_id</th>
            <td>{{ details.dag_id }}</td>
        </tr>
        {% for key, value in details.items() %}
        {% if key != 'dag_id' %}
        <tr>
            <th>{{ key }}</th>
            <td>
                {% if key == 'tags' %}
                    {% for tag in value %}
                        {{ tag.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}