{% extends "base.html" %}

{% block title %}Runs{% endblock %}

{% block head %}
<style>

    h1 {
        color: #333;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }

    strong {
        color: #555;
    }
    .run-item {
        width: 70%;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .run-item ul {
        margin-left: 20px;
    }
    .run-item ul ul {
        margin-left: 20px;
    }
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Runs</h1>
<ul class="center-content">
    {% for run in runs %}
        <li class="run-item">
            <strong>Run ID:</strong> {{ run.info.run_id }}<br>
            <strong>Run Name:</strong> {{ run.info.run_name }}<br>
            <strong>Status:</strong> {{ run.info.status }}<br>
            <strong>Artifact URI:</strong> {{ run.info.artifact_uri }}<br>
            <strong>Metrics:</strong>
            <ul>
                {% for key, value in run.data.metrics.items() %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
            <strong>Parameters:</strong>
            <ul>
                {% for key, value in run.data.params.items() %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
            <strong>Tags:</strong><br>
            <ul>
                <li><strong>Source Name:</strong> {{ run.data.tags['mlflow.source.name'] }}</li>
                <li><strong>Source Type:</strong> {{ run.data.tags['mlflow.source.type'] }}</li>
                <li><strong>Source Git Commit:</strong> {{ run.data.tags['mlflow.source.git.commit'] }}</li>
                <li><strong>Log Model History:</strong>
                    <ul>
                        {% for history in json_module.loads(run.data.tags['mlflow.log-model.history']) %}
                            <li><strong>UTC Time Created:</strong> {{ history.utc_time_created }}</li>
                            <li><strong>Model UUID:</strong> {{ history.model_uuid }}</li>
                            <li><strong>Flavors:</strong>
                                <ul>
                                    {% for flavor_name, flavor_details in history.flavors.items() %}
                                        <li><strong>{{ flavor_name }}:</strong>
                                            <ul>
                                                {% for key, value in flavor_details.items() %}
                                                    <li><strong>{{ key }}:</strong> 
                                                        {% if key == 'env' %}
                                                            <ul>
                                                                {% for env_key, env_value in value.items() %}
                                                                    <li><strong>{{ env_key }}:</strong> {{ env_value }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% else %}
                                                            {{ value }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!-- <strong>Run Inputs:</strong> {{ run.inputs }} -->
        </li>
    {% endfor %}
</ul>
<p>Page Token: {{ page_token }}</p>
{% endblock %}