{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/launcher.css">
{% endblock %}
{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<div id="notification" class="notification"></div>
<a href="/launcher/create_project" class="btn">Create New Project</a>
<table id="project-table">
    <thead>
        <tr>
            <th></th>
            <th>Project Name</th>
            <th>Type</th>
            <th>Creation Date</th>
            <th>Git/Docker Repository</th>
            <th>Entry Module</th>
            <th>Parameters</th>
            <th>Log Records</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr id="project-row-{{ project.project_name }}">
            <td>
                <button class="play-button" data-project-name="{{ project.project_name }}"
                        data-project-type="{{ project.project_type }}"
                        data-creation-date="{{ project.creation_date }}"
                        data-project-repo-url="{{ project.project_repo_url }}"
                        data-project-entry-module="{{ project.project_entry_module }}"
                        data-project-parameters='{{ project.project_parameters | tojson | safe }}'>
                    <i class="fas fa-play"></i>
                </button>
            </td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.project_type }}</td>
            <td>{{ project.creation_date }}</td>
            <td><a href="{{ project.project_repo_url }}">{{ project.project_repo_url }}</a></td>
            <td>{{ project['project_entry_module'] }}</td>
            <td>
                <ul>
                    {% for key, value in project['project_parameters'].items() %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td class="log-column">
                {% if project['project_log_records'] %}
                <select id="log-select-{{ project.project_name }}"
                    onchange="fetchLogStream(this.value, '{{ project.project_name }}')">
                    <option value="">Select a log</option>
                    {% for log in project['project_log_records'] %}
                    <option value="{{ log }}">{{ log }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <p>No logs available</p>
                {% endif %}
            </td>
        </tr>
        <tr id="log-{{ project.project_name }}" class="log-row" style="display: none;">
            <td colspan="8">
                <button onclick="hideLogView('{{ project.project_name }}')">Hide Log</button>
                <pre id="log-content-{{ project.project_name }}"></pre>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.play-button').forEach(button => {
            button.addEventListener('click', () => {
                const projectName = button.getAttribute('data-project-name');
                const projectType = button.getAttribute('data-project-type');
                const creationDate = button.getAttribute('data-creation-date');
                const projectRepoUrl = button.getAttribute('data-project-repo-url');
                const projectEntryModule = button.getAttribute('data-project-entry-module');
                let zz = button.getAttribute('data-project-parameters')
                const projectParameters = JSON.parse(zz);

                launchProject(projectName, projectType, creationDate, projectRepoUrl, projectEntryModule, projectParameters);
            });
        });
    });

    async function fetchLogStream(logName, projectName) {
        if (logName) {
            try {
                const response = await fetch(`/launcher/projects/logs/${logName}`);
                if (response.ok) {
                    const reader = response.body.getReader();
                    const decoder = new TextDecoder("utf-8");
                    document.getElementById(`log-content-${projectName}`).textContent = '';
                    document.getElementById(`log-${projectName}`).style.display = 'table-row';
                    document.getElementById(`project-row-${projectName}`).after(document.getElementById(`log-${projectName}`));

                    while (true) {
                        const { done, value } = await reader.read();
                        if (done) break;
                        const logContent = decoder.decode(value, { stream: true });
                        document.getElementById(`log-content-${projectName}`).textContent += logContent;
                    }
                } else {
                    console.error('Failed to fetch log:', response.statusText);
                }
            } catch (error) {
                console.error('Error fetching log:', error);
            }
        } else {
            document.getElementById(`log-${projectName}`).style.display = 'none';
        }
    }

    function hideLogView(projectName) {
        document.getElementById(`log-${projectName}`).style.display = 'none';
        document.getElementById(`log-select-${projectName}`).value = '';
    }

    async function launchProject(name, type, date, repoUrl, entryModule, parameters) {
        const projectData = {
            project_name: name,
            project_type: type,
            creation_date: date,
            project_repo_url: repoUrl,
            project_entry_module: entryModule,
            project_parameters: parameters
        };

        try {
            const response = await fetch('/launcher/launch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(projectData)
            });

            if (response.ok) {
                const result = await response.json();
                showNotification(result.message);
            } else {
                console.error('Failed to launch project:', response.statusText);
                showNotification('Failed to launch project.');
            }
        } catch (error) {
            console.error('Error launching project:', error);
            showNotification('Error launching project.');
        }
    }

    function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.textContent = message;
        notification.classList.add('show');
        setTimeout(() => {
            notification.classList.remove('show');
            location.reload(); // Reload the page after the notification disappears
        }, 2000);
    }

</script>
{% endblock %}