{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/distributed_jobs.css">
<style>
    .clear-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        width: fit-content; /* Ensure the button fits the text content */
    }
</style>
{% endblock %}
{% block title %}Torch Distributed Data Parallel Jobs{% endblock %}

{% block content %}
<h1>Torch Distributed Data Parallel Jobs</h1>
<button class="clear-button" onclick="clearCompletedJobs()">Clear Completed Jobs</button>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Phase</th>
        <th>Type</th>
        <th>Replicas</th>
        <th>Min Replicas</th>
        <th>Pending</th>
        <th>Running</th>
        <th>Succeeded</th>
        <th>Failed</th>
        <th>Unknown</th>
        <th>Retry Count</th>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>{{ job.name }}</td>
        <td>{{ job.creation_date }}</td>
        <td>{{ job.phase }}</td>
        <td>{{ job.type }}</td>
        <td>{{ job.replicas }}</td>
        <td>{{ job.min_replicas }}</td>
        <td>{{ job.pending }}</td>
        <td>{{ job.running }}</td>
        <td>{{ job.succeeded }}</td>
        <td>{{ job.failed }}</td>
        <td>{{ job.unknown }}</td>
        <td>{{ job.retry_count }}</td>
    </tr>
    {% endfor %}
</table>
<script>
function clearCompletedJobs() {
    fetch('/distributed/volcano/jobs/clear', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Failed to clear completed jobs.');
        }
    });
}
</script>
{% endblock %}