table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.insideCell {
    margin: 0;
    background-color: inherit !important;
}